body, html {
    height: 100%;
    width: 100%;
    font-weight: 10;
    margin: 0px;
  }
  .content-width {
    width: 70%;
    margin: auto;
  }
  .div-blogs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    align-content: space-between;
    flex: 1 0 calc(33.333% - 20px);
  }
  .create-btn {
    display: flex;
    justify-items: center;
  }
  .btn-class {
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.btn {
    height: 50px;
    width: 150px;
    font-size: 1.2em;
    color: white;
    background-color: orange;
}