body, html {
    font-weight: 10;
    margin: 0px;
  }
  .content-width {
    width: 70%;
    margin: auto;
  }
  footer {
    background: #000;
    color: #fff;
    position: relative;
    width:100vw;
    height: 5vw;
    bottom: 0;
  }

  .footer p {
    font-size: 0.8em;  
  }